<header>
  <h1 class="logo-img"><a href="/">DevBooks</a></h1>
  <nav>
    <ul>
      <li class="nav-list">
        <a href="/about" class="nav-link">About</a>
      </li>
      <li class="nav-list login">
        <a href="#" class="nav-link">Log in</a>
      </li>
      <li class="nav-list logout">
        <a href="#" class="nav-link">Log out</a>
      </li>
    </ul>
  </nav>
</header>
